 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1600px;
	 height: 3300px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #BG 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1600px;
	 height: 3300px;
	 z-index:1;
} 

 #Rectangle1copy2 
{ 
	 left: -37px; 
	 top: 2749px; 
	 position: absolute; 
	 width: 1646px;
	 height: 543px;
	 z-index:2;
} 

 #Rectangle1copy4 
{ 
	 left: -37px; 
	 top: 3157px; 
	 position: absolute; 
	 width: 1646px;
	 height: 186px;
	 z-index:3;
} 

 #SitemapSearchs 
{ 
	 left: 579px; 
	 top: 3202px; 
	 position: absolute; 
	 width: 442px;
	 height: 14px;
	 z-index:4;
} 

 #2019PSDINUAAllRigh 
{ 
	 left: 674px; 
	 top: 3255px; 
	 position: absolute; 
	 width: 251px;
	 height: 13px;
	 z-index:5;
} 

 #OurStoryPrivacy 
{ 
	 left: 572px; 
	 top: 2879px; 
	 position: absolute; 
	 width: 120px;
	 height: 162px;
	 z-index:6;
} 

 #Information 
{ 
	 left: 572px; 
	 top: 2836px; 
	 position: absolute; 
	 width: 126px;
	 height: 14px;
	 z-index:7;
} 

 #GooglePinterestVimeo 
{ 
	 left: 850px; 
	 top: 2877px; 
	 position: absolute; 
	 width: 61px;
	 height: 104px;
	 z-index:8;
} 

 #FacebookTwitterRSSYo 
{ 
	 left: 1027px; 
	 top: 2877px; 
	 position: absolute; 
	 width: 60px;
	 height: 101px;
	 z-index:9;
} 

 #OurSocial 
{ 
	 left: 822px; 
	 top: 2836px; 
	 position: absolute; 
	 width: 107px;
	 height: 14px;
	 z-index:10;
} 

 #layer_11 
{ 
	 left: 823px; 
	 top: 2877px; 
	 position: absolute; 
	 width: 17px;
	 height: 101px;
	 z-index:11;
} 

 #layer_12 
{ 
	 left: 996px; 
	 top: 2875px; 
	 position: absolute; 
	 width: 12px;
	 height: 104px;
	 z-index:12;
} 

 #PaymentOption 
{ 
	 left: 1145px; 
	 top: 2975px; 
	 position: absolute; 
	 width: 156px;
	 height: 14px;
	 z-index:13;
} 

 #layer_14 
{ 
	 left: 1151px; 
	 top: 3016px; 
	 position: absolute; 
	 width: 250px;
	 height: 31px;
	 z-index:14;
} 

 #layer_15 
{ 
	 left: 1152px; 
	 top: 3064px; 
	 position: absolute; 
	 width: 182px;
	 height: 31px;
	 z-index:15;
} 

 #MondayFriday0830am09 
{ 
	 left: 1175px; 
	 top: 2875px; 
	 position: absolute; 
	 width: 231px;
	 height: 44px;
	 z-index:16;
} 

 #OpeningTime 
{ 
	 left: 1144px; 
	 top: 2836px; 
	 position: absolute; 
	 width: 129px;
	 height: 14px;
	 z-index:17;
} 

 #layer_18 
{ 
	 left: 1145px; 
	 top: 2876px; 
	 position: absolute; 
	 width: 12px;
	 height: 12px;
	 z-index:18;
} 

 #copy 
{ 
	 left: 309px; 
	 top: 2812px; 
	 position: absolute; 
	 width: 87px;
	 height: 62px;
	 z-index:19;
} 

 #MarketSupplycopy 
{ 
	 left: 218px; 
	 top: 2834px; 
	 position: absolute; 
	 width: 152px;
	 height: 24px;
	 z-index:20;
} 

 #ThisisPhotoshop39sve 
{ 
	 left: 214px; 
	 top: 2894px; 
	 position: absolute; 
	 width: 264px;
	 height: 59px;
	 z-index:21;
} 

 #layer_22 
{ 
	 left: 218px; 
	 top: 2989px; 
	 position: absolute; 
	 width: 9px;
	 height: 13px;
	 z-index:22;
} 

 #layer_23 
{ 
	 left: 218px; 
	 top: 3021px; 
	 position: absolute; 
	 width: 12px;
	 height: 12px;
	 z-index:23;
} 

 #layer_24 
{ 
	 left: 218px; 
	 top: 3053px; 
	 position: absolute; 
	 width: 14px;
	 height: 11px;
	 z-index:24;
} 

 #0123MainRoadYourCity 
{ 
	 left: 243px; 
	 top: 2991px; 
	 position: absolute; 
	 width: 230px;
	 height: 74px;
	 z-index:25;
} 

 #Rectangle1copy3 
{ 
	 left: -37px; 
	 top: 2566px; 
	 position: absolute; 
	 width: 1646px;
	 height: 186px;
	 z-index:26;
} 

 #brand4 
{ 
	 left: 234px; 
	 top: 2609px; 
	 position: absolute; 
	 width: 1149px;
	 height: 100px;
	 z-index:27;
} 

 #Rectangle2copy7 
{ 
	 left: 550px; 
	 top: 2108px; 
	 position: absolute; 
	 width: 837px;
	 height: 392px;
	 z-index:28;
} 

 #Featuredproducts 
{ 
	 left: 589px; 
	 top: 2139px; 
	 position: absolute; 
	 width: 232px;
	 height: 17px;
	 z-index:29;
} 

 #Loremipsumdolorcopy8 
{ 
	 left: 1215px; 
	 top: 2374px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:30;
} 

 #100009000copy8 
{ 
	 left: 1215px; 
	 top: 2400px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:31;
} 

 #copy8 
{ 
	 left: 1215px; 
	 top: 2427px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:32;
} 

 #Rectangle3copy8 
{ 
	 left: 1104px; 
	 top: 2368px; 
	 position: absolute; 
	 width: 90px;
	 height: 85px;
	 z-index:33;
} 

 #Layer28 
{ 
	 left: 1101px; 
	 top: 2370px; 
	 position: absolute; 
	 width: 101px;
	 height: 90px;
	 z-index:34;
} 

 #Loremipsumdolorcopy8_0 
{ 
	 left: 958px; 
	 top: 2374px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:35;
} 

 #100009000copy8_0 
{ 
	 left: 958px; 
	 top: 2400px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:36;
} 

 #copy8_0 
{ 
	 left: 958px; 
	 top: 2427px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:37;
} 

 #Rectangle3copy8_0 
{ 
	 left: 847px; 
	 top: 2368px; 
	 position: absolute; 
	 width: 90px;
	 height: 85px;
	 z-index:38;
} 

 #Layer26 
{ 
	 left: 837px; 
	 top: 2335px; 
	 position: absolute; 
	 width: 117px;
	 height: 140px;
	 z-index:39;
} 

 #Loremipsumdolorcopy8_1 
{ 
	 left: 701px; 
	 top: 2374px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:40;
} 

 #100009000copy8_1 
{ 
	 left: 701px; 
	 top: 2400px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:41;
} 

 #copy8_1 
{ 
	 left: 701px; 
	 top: 2427px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:42;
} 

 #Rectangle3copy8_1 
{ 
	 left: 590px; 
	 top: 2368px; 
	 position: absolute; 
	 width: 90px;
	 height: 85px;
	 z-index:43;
} 

 #Layer24 
{ 
	 left: 582px; 
	 top: 2346px; 
	 position: absolute; 
	 width: 109px;
	 height: 131px;
	 z-index:44;
} 

 #Loremipsumdolorcopy7 
{ 
	 left: 1215px; 
	 top: 2228px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:45;
} 

 #100009000copy7 
{ 
	 left: 1215px; 
	 top: 2254px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:46;
} 

 #copy7 
{ 
	 left: 1215px; 
	 top: 2281px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:47;
} 

 #Rectangle3copy7 
{ 
	 left: 1104px; 
	 top: 2222px; 
	 position: absolute; 
	 width: 90px;
	 height: 85px;
	 z-index:48;
} 

 #Layer27 
{ 
	 left: 1104px; 
	 top: 2223px; 
	 position: absolute; 
	 width: 93px;
	 height: 93px;
	 z-index:49;
} 

 #Loremipsumdolorcopy6 
{ 
	 left: 958px; 
	 top: 2228px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:50;
} 

 #100009000copy6 
{ 
	 left: 958px; 
	 top: 2254px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:51;
} 

 #copy6 
{ 
	 left: 958px; 
	 top: 2281px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:52;
} 

 #Rectangle3copy6 
{ 
	 left: 847px; 
	 top: 2222px; 
	 position: absolute; 
	 width: 90px;
	 height: 85px;
	 z-index:53;
} 

 #Layer23 
{ 
	 left: 840px; 
	 top: 2202px; 
	 position: absolute; 
	 width: 105px;
	 height: 126px;
	 z-index:54;
} 

 #Loremipsumdolor 
{ 
	 left: 701px; 
	 top: 2228px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:55;
} 

 #layer_100009000 
{ 
	 left: 701px; 
	 top: 2254px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:56;
} 

 #layer_57 
{ 
	 left: 701px; 
	 top: 2281px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:57;
} 

 #Rectangle3 
{ 
	 left: 590px; 
	 top: 2222px; 
	 position: absolute; 
	 width: 90px;
	 height: 85px;
	 z-index:58;
} 

 #Layer22 
{ 
	 left: 590px; 
	 top: 2221px; 
	 position: absolute; 
	 width: 85px;
	 height: 85px;
	 z-index:59;
} 

 #Layer3copy10 
{ 
	 left: 570px; 
	 top: 2183px; 
	 position: absolute; 
	 width: 795px;
	 height: 1px;
	 z-index:60;
} 

 #Ellipse1copy8 
{ 
	 left: 1309px; 
	 top: 2138px; 
	 position: absolute; 
	 width: 26px;
	 height: 25px;
	 z-index:61;
} 

 #Ellipse1copy8_0 
{ 
	 left: 1337px; 
	 top: 2138px; 
	 position: absolute; 
	 width: 25px;
	 height: 25px;
	 z-index:62;
} 

 #copy4 
{ 
	 left: 1318px; 
	 top: 2147px; 
	 position: absolute; 
	 width: 6px;
	 height: 9px;
	 z-index:63;
} 

 #copy4_0 
{ 
	 left: 1349px; 
	 top: 2147px; 
	 position: absolute; 
	 width: 5px;
	 height: 9px;
	 z-index:64;
} 

 #Rectangle2copy5 
{ 
	 left: 550px; 
	 top: 1842px; 
	 position: absolute; 
	 width: 837px;
	 height: 229px;
	 z-index:65;
} 

 #Layer20 
{ 
	 left: 565px; 
	 top: 1878px; 
	 position: absolute; 
	 width: 498px;
	 height: 162px;
	 z-index:66;
} 

 #BeautifulLaptopRetin 
{ 
	 left: 1048px; 
	 top: 1898px; 
	 position: absolute; 
	 width: 300px;
	 height: 43px;
	 z-index:67;
} 

 #RoundedRectangle2cop 
{ 
	 left: 1050px; 
	 top: 1964px; 
	 position: absolute; 
	 width: 136px;
	 height: 49px;
	 z-index:68;
} 

 #ShopNow 
{ 
	 left: 1074px; 
	 top: 1983px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:69;
} 

 #Rectangle2copy11 
{ 
	 left: 549px; 
	 top: 1375px; 
	 position: absolute; 
	 width: 837px;
	 height: 427px;
	 z-index:70;
} 

 #AllClothingElectroni 
{ 
	 left: 1008px; 
	 top: 1406px; 
	 position: absolute; 
	 width: 255px;
	 height: 14px;
	 z-index:71;
} 

 #LatestProducts 
{ 
	 left: 573px; 
	 top: 1409px; 
	 position: absolute; 
	 width: 196px;
	 height: 17px;
	 z-index:72;
} 

 #Loremipsumdolorcopy 
{ 
	 left: 618px; 
	 top: 1702px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:73;
} 

 #100009000copy 
{ 
	 left: 619px; 
	 top: 1726px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:74;
} 

 #copy_0 
{ 
	 left: 634px; 
	 top: 1751px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:75;
} 

 #Rectangle3copy 
{ 
	 left: 574px; 
	 top: 1478px; 
	 position: absolute; 
	 width: 180px;
	 height: 206px;
	 z-index:76;
} 

 #Layer7 
{ 
	 left: 559px; 
	 top: 1477px; 
	 position: absolute; 
	 width: 200px;
	 height: 200px;
	 z-index:77;
} 

 #Loremipsumdolorcopy4 
{ 
	 left: 813px; 
	 top: 1702px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:78;
} 

 #100009000copy4 
{ 
	 left: 810px; 
	 top: 1726px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:79;
} 

 #copy4_1 
{ 
	 left: 829px; 
	 top: 1751px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:80;
} 

 #Rectangle3copy4 
{ 
	 left: 777px; 
	 top: 1478px; 
	 position: absolute; 
	 width: 179px;
	 height: 206px;
	 z-index:81;
} 

 #Layer8 
{ 
	 left: 767px; 
	 top: 1479px; 
	 position: absolute; 
	 width: 205px;
	 height: 205px;
	 z-index:82;
} 

 #Loremipsumdolorcopy5 
{ 
	 left: 1012px; 
	 top: 1702px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:83;
} 

 #100009000copy5 
{ 
	 left: 1013px; 
	 top: 1726px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:84;
} 

 #copy5 
{ 
	 left: 1028px; 
	 top: 1751px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:85;
} 

 #Rectangle3copy5 
{ 
	 left: 979px; 
	 top: 1478px; 
	 position: absolute; 
	 width: 179px;
	 height: 206px;
	 z-index:86;
} 

 #Layer9 
{ 
	 left: 984px; 
	 top: 1493px; 
	 position: absolute; 
	 width: 173px;
	 height: 173px;
	 z-index:87;
} 

 #Loremipsumdolorcopy9 
{ 
	 left: 1213px; 
	 top: 1702px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:88;
} 

 #100009000copy9 
{ 
	 left: 1214px; 
	 top: 1726px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:89;
} 

 #copy9 
{ 
	 left: 1229px; 
	 top: 1751px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:90;
} 

 #Rectangle3copy9 
{ 
	 left: 1179px; 
	 top: 1478px; 
	 position: absolute; 
	 width: 179px;
	 height: 206px;
	 z-index:91;
} 

 #Layer10 
{ 
	 left: 1168px; 
	 top: 1483px; 
	 position: absolute; 
	 width: 199px;
	 height: 199px;
	 z-index:92;
} 

 #Layer3copy9 
{ 
	 left: 570px; 
	 top: 1452px; 
	 position: absolute; 
	 width: 795px;
	 height: 1px;
	 z-index:93;
} 

 #Ellipse1copy7 
{ 
	 left: 1309px; 
	 top: 1395px; 
	 position: absolute; 
	 width: 26px;
	 height: 25px;
	 z-index:94;
} 

 #Ellipse1copy7_0 
{ 
	 left: 1337px; 
	 top: 1395px; 
	 position: absolute; 
	 width: 25px;
	 height: 25px;
	 z-index:95;
} 

 #copy3 
{ 
	 left: 1318px; 
	 top: 1404px; 
	 position: absolute; 
	 width: 6px;
	 height: 9px;
	 z-index:96;
} 

 #copy3_0 
{ 
	 left: 1349px; 
	 top: 1404px; 
	 position: absolute; 
	 width: 5px;
	 height: 9px;
	 z-index:97;
} 

 #Rectangle2copy10 
{ 
	 left: 547px; 
	 top: 1112px; 
	 position: absolute; 
	 width: 399px;
	 height: 229px;
	 z-index:98;
} 

 #Layer13 
{ 
	 left: 505px; 
	 top: 1110px; 
	 position: absolute; 
	 width: 277px;
	 height: 230px;
	 z-index:99;
} 

 #Layer19copy 
{ 
	 left: 706px; 
	 top: 1107px; 
	 position: absolute; 
	 width: 296px;
	 height: 246px;
	 z-index:100;
} 

 #Rectangle2copy10_0 
{ 
	 left: 985px; 
	 top: 1112px; 
	 position: absolute; 
	 width: 399px;
	 height: 229px;
	 z-index:101;
} 

 #Layer18 
{ 
	 left: 949px; 
	 top: 1109px; 
	 position: absolute; 
	 width: 259px;
	 height: 231px;
	 z-index:102;
} 

 #Layer19 
{ 
	 left: 1132px; 
	 top: 1107px; 
	 position: absolute; 
	 width: 296px;
	 height: 246px;
	 z-index:103;
} 

 #Rectangle2copy13 
{ 
	 left: 549px; 
	 top: 657px; 
	 position: absolute; 
	 width: 837px;
	 height: 427px;
	 z-index:104;
} 

 #AllClothingElectroni_0 
{ 
	 left: 1008px; 
	 top: 691px; 
	 position: absolute; 
	 width: 255px;
	 height: 14px;
	 z-index:105;
} 

 #Ellipse1copy4 
{ 
	 left: 1309px; 
	 top: 680px; 
	 position: absolute; 
	 width: 26px;
	 height: 25px;
	 z-index:106;
} 

 #Ellipse1copy4_0 
{ 
	 left: 1337px; 
	 top: 680px; 
	 position: absolute; 
	 width: 25px;
	 height: 25px;
	 z-index:107;
} 

 #NewProductscopy2 
{ 
	 left: 594px; 
	 top: 691px; 
	 position: absolute; 
	 width: 172px;
	 height: 17px;
	 z-index:108;
} 

 #Loremipsumdolorcopy1 
{ 
	 left: 618px; 
	 top: 984px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:109;
} 

 #100009000copy10 
{ 
	 left: 619px; 
	 top: 1008px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:110;
} 

 #copy10 
{ 
	 left: 634px; 
	 top: 1033px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:111;
} 

 #Rectangle3copy10 
{ 
	 left: 574px; 
	 top: 760px; 
	 position: absolute; 
	 width: 180px;
	 height: 206px;
	 z-index:112;
} 

 #Layer14 
{ 
	 left: 563px; 
	 top: 759px; 
	 position: absolute; 
	 width: 205px;
	 height: 205px;
	 z-index:113;
} 

 #Loremipsumdolorcopy1_0 
{ 
	 left: 813px; 
	 top: 984px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:114;
} 

 #100009000copy10_0 
{ 
	 left: 810px; 
	 top: 1008px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:115;
} 

 #copy10_0 
{ 
	 left: 829px; 
	 top: 1033px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:116;
} 

 #Rectangle3copy10_0 
{ 
	 left: 778px; 
	 top: 760px; 
	 position: absolute; 
	 width: 179px;
	 height: 206px;
	 z-index:117;
} 

 #Layer11 
{ 
	 left: 833px; 
	 top: 834px; 
	 position: absolute; 
	 width: 205px;
	 height: 205px;
	 z-index:118;
} 

 #Loremipsumdolorcopy1_1 
{ 
	 left: 1012px; 
	 top: 984px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:119;
} 

 #100009000copy10_1 
{ 
	 left: 1013px; 
	 top: 1008px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:120;
} 

 #copy10_1 
{ 
	 left: 1028px; 
	 top: 1033px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:121;
} 

 #Rectangle3copy10_1 
{ 
	 left: 979px; 
	 top: 760px; 
	 position: absolute; 
	 width: 179px;
	 height: 206px;
	 z-index:122;
} 

 #Layer16 
{ 
	 left: 970px; 
	 top: 768px; 
	 position: absolute; 
	 width: 198px;
	 height: 198px;
	 z-index:123;
} 

 #Loremipsumdolorcopy1_2 
{ 
	 left: 1213px; 
	 top: 984px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:124;
} 

 #100009000copy10_2 
{ 
	 left: 1214px; 
	 top: 1008px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:125;
} 

 #copy10_2 
{ 
	 left: 1229px; 
	 top: 1033px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:126;
} 

 #Rectangle3copy10_2 
{ 
	 left: 1179px; 
	 top: 760px; 
	 position: absolute; 
	 width: 179px;
	 height: 206px;
	 z-index:127;
} 

 #Layer21 
{ 
	 left: 1180px; 
	 top: 768px; 
	 position: absolute; 
	 width: 184px;
	 height: 184px;
	 z-index:128;
} 

 #Layer3copy11 
{ 
	 left: 570px; 
	 top: 734px; 
	 position: absolute; 
	 width: 795px;
	 height: 1px;
	 z-index:129;
} 

 #layer_130 
{ 
	 left: 1318px; 
	 top: 689px; 
	 position: absolute; 
	 width: 6px;
	 height: 9px;
	 z-index:130;
} 

 #layer_131 
{ 
	 left: 1349px; 
	 top: 689px; 
	 position: absolute; 
	 width: 5px;
	 height: 9px;
	 z-index:131;
} 

 #Layer4 
{ 
	 left: 215px; 
	 top: 1867px; 
	 position: absolute; 
	 width: 298px;
	 height: 441px;
	 z-index:132;
} 

 #Rectangle2copy3 
{ 
	 left: 213px; 
	 top: 655px; 
	 position: absolute; 
	 width: 300px;
	 height: 427px;
	 z-index:133;
} 

 #HotDeals 
{ 
	 left: 243px; 
	 top: 684px; 
	 position: absolute; 
	 width: 117px;
	 height: 17px;
	 z-index:134;
} 

 #Loremipsumdolorcopy2 
{ 
	 left: 295px; 
	 top: 980px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:135;
} 

 #100009000copy2 
{ 
	 left: 296px; 
	 top: 1004px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:136;
} 

 #copy2 
{ 
	 left: 311px; 
	 top: 1029px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:137;
} 

 #Rectangle3copy2 
{ 
	 left: 236px; 
	 top: 754px; 
	 position: absolute; 
	 width: 255px;
	 height: 206px;
	 z-index:138;
} 

 #Layer15 
{ 
	 left: 250px; 
	 top: 732px; 
	 position: absolute; 
	 width: 238px;
	 height: 243px;
	 z-index:139;
} 

 #Layer3copy12 
{ 
	 left: 239px; 
	 top: 729px; 
	 position: absolute; 
	 width: 245px;
	 height: 1px;
	 z-index:140;
} 

 #Ellipse1copy5 
{ 
	 left: 432px; 
	 top: 680px; 
	 position: absolute; 
	 width: 26px;
	 height: 25px;
	 z-index:141;
} 

 #Ellipse1copy5_0 
{ 
	 left: 460px; 
	 top: 680px; 
	 position: absolute; 
	 width: 25px;
	 height: 25px;
	 z-index:142;
} 

 #copy_1 
{ 
	 left: 441px; 
	 top: 689px; 
	 position: absolute; 
	 width: 6px;
	 height: 9px;
	 z-index:143;
} 

 #copy_2 
{ 
	 left: 472px; 
	 top: 689px; 
	 position: absolute; 
	 width: 5px;
	 height: 9px;
	 z-index:144;
} 

 #Rectangle2copy8 
{ 
	 left: 213px; 
	 top: 1108px; 
	 position: absolute; 
	 width: 300px;
	 height: 427px;
	 z-index:145;
} 

 #SpecialDeal 
{ 
	 left: 247px; 
	 top: 1140px; 
	 position: absolute; 
	 width: 147px;
	 height: 17px;
	 z-index:146;
} 

 #Loremipsumdolorcopy3 
{ 
	 left: 296px; 
	 top: 1439px; 
	 position: absolute; 
	 width: 121px;
	 height: 14px;
	 z-index:147;
} 

 #100009000copy3 
{ 
	 left: 297px; 
	 top: 1463px; 
	 position: absolute; 
	 width: 119px;
	 height: 15px;
	 z-index:148;
} 

 #copy3_1 
{ 
	 left: 312px; 
	 top: 1488px; 
	 position: absolute; 
	 width: 86px;
	 height: 14px;
	 z-index:149;
} 

 #Rectangle3copy3 
{ 
	 left: 238px; 
	 top: 1205px; 
	 position: absolute; 
	 width: 250px;
	 height: 206px;
	 z-index:150;
} 

 #Layer17 
{ 
	 left: 241px; 
	 top: 1185px; 
	 position: absolute; 
	 width: 248px;
	 height: 248px;
	 z-index:151;
} 

 #Layer3copy13 
{ 
	 left: 239px; 
	 top: 1180px; 
	 position: absolute; 
	 width: 245px;
	 height: 1px;
	 z-index:152;
} 

 #Ellipse1copy6 
{ 
	 left: 435px; 
	 top: 1133px; 
	 position: absolute; 
	 width: 26px;
	 height: 25px;
	 z-index:153;
} 

 #Ellipse1copy6_0 
{ 
	 left: 463px; 
	 top: 1133px; 
	 position: absolute; 
	 width: 25px;
	 height: 25px;
	 z-index:154;
} 

 #copy2_0 
{ 
	 left: 444px; 
	 top: 1142px; 
	 position: absolute; 
	 width: 6px;
	 height: 9px;
	 z-index:155;
} 

 #copy2_1 
{ 
	 left: 475px; 
	 top: 1142px; 
	 position: absolute; 
	 width: 5px;
	 height: 9px;
	 z-index:156;
} 

 #Rectangle2copy9 
{ 
	 left: 213px; 
	 top: 1566px; 
	 position: absolute; 
	 width: 300px;
	 height: 270px;
	 z-index:157;
} 

 #Newsletters 
{ 
	 left: 239px; 
	 top: 1596px; 
	 position: absolute; 
	 width: 152px;
	 height: 17px;
	 z-index:158;
} 

 #SignUpforOurNewslett 
{ 
	 left: 237px; 
	 top: 1654px; 
	 position: absolute; 
	 width: 182px;
	 height: 14px;
	 z-index:159;
} 

 #RoundedRectangle2 
{ 
	 left: 237px; 
	 top: 1756px; 
	 position: absolute; 
	 width: 136px;
	 height: 49px;
	 z-index:160;
} 

 #Layer3copy14 
{ 
	 left: 239px; 
	 top: 1631px; 
	 position: absolute; 
	 width: 245px;
	 height: 1px;
	 z-index:161;
} 

 #sUBSCRIBE 
{ 
	 left: 262px; 
	 top: 1776px; 
	 position: absolute; 
	 width: 85px;
	 height: 12px;
	 z-index:162;
} 

 #RoundedRectangle3 
{ 
	 left: 238px; 
	 top: 1688px; 
	 position: absolute; 
	 width: 253px;
	 height: 48px;
	 z-index:163;
} 

 #Rectangle2copy 
{ 
	 left: 549px; 
	 top: 164px; 
	 position: absolute; 
	 width: 837px;
	 height: 457px;
	 z-index:164;
} 

 #Layer5 
{ 
	 left: 503px; 
	 top: 164px; 
	 position: absolute; 
	 width: 889px;
	 height: 378px;
	 z-index:165;
} 

 #COLLECTION2016save50 
{ 
	 left: 583px; 
	 top: 258px; 
	 position: absolute; 
	 width: 412px;
	 height: 121px;
	 z-index:166;
} 

 #Rectangle6 
{ 
	 left: 721px; 
	 top: 427px; 
	 position: absolute; 
	 width: 145px;
	 height: 45px;
	 z-index:167;
} 

 #ShopNow_0 
{ 
	 left: 749px; 
	 top: 443px; 
	 position: absolute; 
	 width: 97px;
	 height: 14px;
	 z-index:168;
} 

 #Rectangle2copy2 
{ 
	 left: 549px; 
	 top: 539px; 
	 position: absolute; 
	 width: 837px;
	 height: 82px;
	 z-index:169;
} 

 #moneyback30DaysMoney 
{ 
	 left: 609px; 
	 top: 565px; 
	 position: absolute; 
	 width: 210px;
	 height: 32px;
	 z-index:170;
} 

 #freeshippingShipping 
{ 
	 left: 907px; 
	 top: 565px; 
	 position: absolute; 
	 width: 183px;
	 height: 32px;
	 z-index:171;
} 

 #SpecialSaleExtra5off 
{ 
	 left: 1181px; 
	 top: 563px; 
	 position: absolute; 
	 width: 152px;
	 height: 31px;
	 z-index:172;
} 

 #Rectangle1 
{ 
	 left: -37px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1646px;
	 height: 117px;
	 z-index:173;
} 

 #Rectangle1copy 
{ 
	 left: -8px; 
	 top: 113px; 
	 position: absolute; 
	 width: 1646px;
	 height: 54px;
	 z-index:174;
} 

 #ClothingElectron 
{ 
	 left: 566px; 
	 top: 136px; 
	 position: absolute; 
	 width: 752px;
	 height: 11px;
	 z-index:175;
} 

 #RoundedRectangle1 
{ 
	 left: 650px; 
	 top: 51px; 
	 position: absolute; 
	 width: 588px;
	 height: 40px;
	 z-index:176;
} 

 #Rectangle5 
{ 
	 left: 1181px; 
	 top: 50px; 
	 position: absolute; 
	 width: 61px;
	 height: 46px;
	 z-index:177;
} 

 #Searchhere 
{ 
	 left: 678px; 
	 top: 65px; 
	 position: absolute; 
	 width: 87px;
	 height: 11px;
	 z-index:178;
} 

 #layer_179 
{ 
	 left: 1203px; 
	 top: 65px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:179;
} 

 #layer_180 
{ 
	 left: 309px; 
	 top: 18px; 
	 position: absolute; 
	 width: 87px;
	 height: 62px;
	 z-index:180;
} 

 #MarketSupply 
{ 
	 left: 218px; 
	 top: 40px; 
	 position: absolute; 
	 width: 152px;
	 height: 24px;
	 z-index:181;
} 

 #MyAccountWishlis 
{ 
	 left: 1023px; 
	 top: 18px; 
	 position: absolute; 
	 width: 356px;
	 height: 11px;
	 z-index:182;
} 

 #Ellipse1copy3 
{ 
	 left: 1277px; 
	 top: 53px; 
	 position: absolute; 
	 width: 40px;
	 height: 40px;
	 z-index:183;
} 

 #layer_184 
{ 
	 left: 1288px; 
	 top: 68px; 
	 position: absolute; 
	 width: 15px;
	 height: 12px;
	 z-index:184;
} 

 #layer_60000 
{ 
	 left: 1319px; 
	 top: 72px; 
	 position: absolute; 
	 width: 52px;
	 height: 14px;
	 z-index:185;
} 

 #Total 
{ 
	 left: 1323px; 
	 top: 59px; 
	 position: absolute; 
	 width: 33px;
	 height: 8px;
	 z-index:186;
} 

 #Rectangle2 
{ 
	 left: 213px; 
	 top: 164px; 
	 position: absolute; 
	 width: 300px;
	 height: 461px;
	 z-index:187;
} 

 #Layer3 
{ 
	 left: 229px; 
	 top: 216px; 
	 position: absolute; 
	 width: 269px;
	 height: 1px;
	 z-index:188;
} 

 #Layer3copy 
{ 
	 left: 229px; 
	 top: 267px; 
	 position: absolute; 
	 width: 269px;
	 height: 1px;
	 z-index:189;
} 

 #Layer3copy2 
{ 
	 left: 229px; 
	 top: 317px; 
	 position: absolute; 
	 width: 269px;
	 height: 1px;
	 z-index:190;
} 

 #Layer3copy3 
{ 
	 left: 229px; 
	 top: 368px; 
	 position: absolute; 
	 width: 269px;
	 height: 1px;
	 z-index:191;
} 

 #Layer3copy4 
{ 
	 left: 229px; 
	 top: 418px; 
	 position: absolute; 
	 width: 269px;
	 height: 1px;
	 z-index:192;
} 

 #Layer3copy5 
{ 
	 left: 229px; 
	 top: 468px; 
	 position: absolute; 
	 width: 269px;
	 height: 1px;
	 z-index:193;
} 

 #Layer3copy6 
{ 
	 left: 229px; 
	 top: 518px; 
	 position: absolute; 
	 width: 269px;
	 height: 1px;
	 z-index:194;
} 

 #Layer3copy7 
{ 
	 left: 229px; 
	 top: 568px; 
	 position: absolute; 
	 width: 269px;
	 height: 1px;
	 z-index:195;
} 

 #layer_196 
{ 
	 left: 240px; 
	 top: 185px; 
	 position: absolute; 
	 width: 13px;
	 height: 413px;
	 z-index:196;
} 

 #CategoriesClothingEl 
{ 
	 left: 272px; 
	 top: 136px; 
	 position: absolute; 
	 width: 122px;
	 height: 461px;
	 z-index:197;
} 

 #layer_198 
{ 
	 left: 240px; 
	 top: 134px; 
	 position: absolute; 
	 width: 16px;
	 height: 13px;
	 z-index:198;
} 
